.Navbar .navbar-inner {
  height: 110px;
  margin: 0 auto;
  max-width: 65rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar img.logo {
  width: 160px;
}

.navbar-inner li a {
  font-weight: 500;
  font-color: #333;
}

.navbar-inner .search {
  width: 50px;
  height: 80px;
  background-image: url(https://www.jcu.edu.au/__data/assets/file/0004/644044/icon-search.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
